<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
* {
    font-size: 20px;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "YuMincho", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    color: white;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.instructon {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}
.text {
    word-break: break-all;
    margin: auto;
    width: 500px;
    font-size: 40px;
}
.selected {
    color: aquamarine;
    font-size: 40px;
}
button {
    background-color: black;
}
button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.word {
    transform: translate(-50%, -50%);
    word-break: keep-all;
}
.friends_button_wrapper {
    width: 200px;
    margin: auto;
    margin-top: 40px;
}
.friends_button_wrapper > button {
    width: 200px;
    text-align: center;
}
</style>
<div id="app" style="display: none;">
    <div class="instructon" v-if="mode == 'writing_1' || mode == 'writing_2'">
        テキストを入力してください
    </div>
    <div class="text" v-if="mode == 'writing_1' || mode == 'writing_2'">
        {{original_text}}
    </div>
    <div class="friends_button_wrapper" v-if="mode == 'writing_2'">
        <button v-on:click="go_to_choose_mode()">子音友達を呼ぶ</button>
    </div>
    <div class="decrypt" v-if="mode == 'choose'">
        復号後文字列: {{decrypt}}
    </div>
    <div class="wordwrap" v-if="mode == 'choose'">
        <span class="word" v-for="(word, i) in word_list" v-bind:class="{selected: selected_word_index == i}"  v-bind:style="{position: 'absolute', top: word_position[i][0], left: word_position[i][1]}">{{word[0]}}</span>
    </div>
    <!--<input type="button" value="ランダム100音列"/>-->
</div>
<script src="vue.js"></script>
<script src="dictionary_table.js"></script>
<script src="dictionary_key.js"></script>
<script src="transform_standard.js"></script>
<script src="make_consonant_table.js"></script>
<script src="consts.js"></script>
<script src="lookup.js"></script>
<script src="sakusaku.js"></script>
