<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
* {
    font-size: 20px;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "YuMincho", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.inactive {
    background: #CCC;
}
.instructon {
    white-space: pre;
}
.word {
    cursor: pointer;
}
.word:hover {
    background: #EEEEEE;
}
.arrow {
    cursor: pointer;
}
.arrow:hover {
    background: #EEEEEE;
}
</style>
<div id="app" style="display: none;">
    <div>
        現在の子音: {{consonant}}<br>
        音列: [ <span v-for="letter in letters">"{{letter}}", </span>]<br>
    </div>
    <div>
        現在位置: {{current_pos}}<br>
        単語長: <span class="arrow" v-on:click="decrease_width">←</span> {{current_width}} <span class="arrow" v-on:click="increase_width">→</span><br>
        マッチする単語: [ <span class="word" v-for="(word, i) in word_list" v-on:click="add_word(i)" v-on:mouseover="speak_word(i)">"{{word}}", </span>]<br>
        復号後文字列: {{decrypt}}<br>
    </div>
    <div class="instructon">
        A~Zキーで文字入力。 ローマ字で書いてね！
        ある程度書いたら、"マッチする単語"の中の単語をクリックして選択しよう！
    </div>
    <div class="conv_table">
    </div>
    <input type="text" id="phone_input" placeholder="スマフォ用テキスト入力"/>
    <!--<input type="button" value="ランダム100音列"/>-->
</div>
<script src="vue.js"></script>
<script src="dictionary_table.js"></script>
<script src="dictionary_key.js"></script>
<script src="transform_standard.js"></script>
<script src="make_consonant_table.js"></script>
<script src="consts.js"></script>
<script src="lookup.js"></script>
<script src="sakusaku.js"></script>
